body{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    .card{
        display: flex;
        flex-direction: column;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        padding: 10px;
        width: 20%;
    }

        .card__img{
            border-radius: 10px;
            width: 100%;
        }

        .card__information{
            text-align: center;
        }
            
            .information__title{
                color: hsl(218, 44%, 22%);
                font-size: 1.150rem;
                font-weight: 700;
                margin: 0.5em;
            }

            .information__description{
                color: hsl(216, 15%, 48%);
                font-size: 0.9rem;
                font-weight: 300;
                width: 95%;
                padding: 0.5em;
            }

.attribution{
    position:fixed;
    bottom: 0;
}