
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root{
    
    --Strongcyan: hsl(172, 67%, 45%);
    --Verydarkcyan: hsl(183, 100%, 15%);
    --Darkgrayishcyan: hsl(186, 14%, 43%);
    --Grayishcyan: hsl(184, 14%, 56%);
    --Lightgrayishcyan: hsl(185, 41%, 84%);
    --Verylightgrayishcyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
  }
  
  *{
    margin: 0;
  }
  
  body {
    
    font-family: 'space mono';

    line-height: 1.5;
    
    -webkit-font-smoothing: antialiased;

    background-color: var(--Lightgrayishcyan);
    
  }
  
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  
  input, button, textarea, select {
    font: inherit;
  }
  
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  .column{
    display: flex;
    flex-direction: column;
  }

  .form__input{
    text-align: end;
    background-color: var(--Verylightgrayishcyan);
    color: var(--Verydarkcyan);
    border: none;
    border-radius: 5px;
    
    }

    .form__input::placeholder{
        color: var(--Verydarkcyan);
    }

  .card{
    width: min(60%,80vw);
    background-color: var(--White);
    border-radius: 1.5em;
    margin: 0 auto;
    padding: 2em;
}
    .card__form{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .form__tip{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0.5em;
    }
        .tip__btn{
            width: 90%;
            color: var(--White);
            background-color: var(--Verydarkcyan);
            border: none;
            border-radius: 4px;
            padding: 0.4em 0;
        }
        
        .tip__input{
            background-color: var(--Verylightgrayishcyan);
            color: var(--Verydarkcyan);
            text-align: center;
            width: 60px;
            border: none;
            border-radius: 10px;
        }
        .tip__input::placeholder{
            color: var(--Verydarkcyan);
        }
    
    
    
    .card__bill{
        background-color: var(--Verydarkcyan);
        border-radius: 1em;
    }