
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--Verydarkblue);
    }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  :root{
    --Blue: hsl(246, 80%, 60%);
    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --excercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --selfcare: hsl(43, 84%, 65%);

    --Verydarkblue: hsl(226, 43%, 10%);
    --Darkblue: hsl(235, 46%, 20%);
    --Desaturatedblue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);
    font-family: 'Rubik';
  }

  .row{
    display: flex;
    flex-direction: row;
  }

  .column{
    display: flex;
    flex-direction: column;
  }

  .btn{
    color: var(--Desaturatedblue);
    background: none;
    border: none;
    transition: 0.4s all ease;
    margin: 0.2em 0;
    }

  .btn:hover{
    color: white;
  }

  .card{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:0 auto;
    }

    .card__user{
        background-color:var(--Blue);
        border-radius: 1em;
        padding: 1em;
        grid-area: card__user;
        z-index: 1;
    }
        .user__img{
            width: 25%;
            height: 25%;
            border:2px solid white ;
            border-radius: 50%;
            margin: 0 0.5em 0 0;
        }

            .user__info{
                color: var(--PaleBlue);
            }

            .user__name{
                color: white;
                font-size: 1.5rem;
            }

        .user__buttons{
            position: relative;
            top: -8px;
            padding: 1.5em 1.5em 1em 1em;
            display: flex;
            justify-content: space-between;
            background-color: var(--Darkblue);
            border-radius:0 0 1em 1em;
        }




    .card__opciones{
        width: 100%;
        grid-area:card__opciones;

    }

        .card__values{
            background-color: var(--Darkblue);
            margin: 2em 0;
            padding: 1em;
            border-radius: 1em;
        }

            .value__title{
                color: white;
                font-size: 1.2rem;
            }
            
            .value__current{
                color: white;
                font-size: 1.5rem;
            }

            .value__previous{
                color: var(--PaleBlue);
            }

            .one{
                grid-area: one;
                box-shadow: 0px -16px var(--work);
            }

            .two{
                grid-area: two;
                box-shadow: 0px -16px var(--play);
            }
            
            .three{
                grid-area: three;
                box-shadow: 0px -16px var(--study);
            }
            
            .four{
                grid-area: four;
                box-shadow: 0px -16px var(--excercise);
            }
            
            .five{
                grid-area: five;
                box-shadow: 0px -16px var(--social);
            }
            
            .six{
                grid-area: six;
                box-shadow: 0px -16px var(--selfcare);
            }

@media(min-width:700px){

    .row{
        flex-direction: column;
    }

    .card{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "card__user card__opciones"
        "card__user card__opciones";
    }

        .card__user{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            height: 300px;
        }

        .user__img{
            width: 50%;
            height: 50%;
        }

        .user__info{
            font-size: 1.5rem;
        }

        .user__name{
            width: 90%;
            font-size: 2rem;
        }
        
        .user__buttons{
            flex-direction: column;
            align-items: start;
            width: 80%;
        }

        .card__opciones{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: 
            "one two three"
            "four five six";
            gap: 1em;
        }

            .value__title{
                font-size: 1.5rem;
            }
            
            .value__current{
                font-size: 2.5rem;
            }
}
