*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    font-size: 1rem;
    font-family: "Outfit";
    -webkit-font-smoothing: antialiased;
    --color-white: hsl(0, 0%, 100%);
    --color--stone: hsl(30, 54%, 90%);
    --color-Stone1: hsl(30, 18%, 87%);
    --color-text: hsl(30, 10%, 34%);
    --color-Stone3: hsl(24, 5%, 18%);
    --color-title : hsl(14, 45%, 36%);
    --color-instruction : hsl(332, 51%, 32%);
    --color-background : hsl(330, 100%, 98%);
    --background-color: var(--color-background);
    color: var(--color-text);
}
ol li::marker{
    color: var(--color-title);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: inherit
}

#root, #__next {
    isolation: isolate;
}
hr{
    color: var(--color--stone);
}
strong{
    font-family: "Outfit";
}
.title{
    color: var(--color-title);
    font-family: "Young Serif";
}
h1.title{
    color: var(--color-Stone3);
    font-size: 2rem;
    margin: 4% 0;
    font-weight: 400;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
}
section {
    display: flex;
    flex-direction: column;
    width: min(100%,42rem);
    height: auto;
    background-color: var(--color-white);
    padding: 30px;
    border-radius: 20px;
    margin: 10%;
}
.recipe-image{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}
.recipe-info{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 2% 0;
    background-color: var(--color-background);
    border-radius: 5px;
    padding: 2%;
    line-height: 2;
}
.recipe-info .title{
    color: var(--color-instruction);
    font-size: var(--font-general);
    font-family: "Outfit";
}
.recipe-info ul li{
    font-size: 0.9rem;
    padding: 0 2%;
}
.recipe-values{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.presentations p{
    margin: 3% 0;
    font-size: 0.9rem;
}
.recipe-ingredients{
    margin: 5% 0;
}
.recipe-ingredients li{
    padding: 0 4%;
    margin: 2% 0;
}
.recipe-instructions p{
    padding: 0 0 0 5%;
    margin: 3% 0;
    font-size: 0.9rem;
}

.recipe-valores{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.recipe-nutrientes{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    margin: 2% 0;
}