*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  :root{
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
    --family-Serif:'Young Serif';
    --family-Outfit:'Outfit';
}
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--Stone100);
    height: 98vh;
    width: 98vw;
    font-family: var(--family-Outfit);
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  ol li::marker{
    color: var(--Brown800);
  }

  ul li::marker{
    color: var(--Brown800);
  }

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .card{
        width: min(80%,42rem);
        padding: 2em;
        background-color: var(--White);
        border-radius: 10px;
    }

        .card__recipe{
        }

            .recipe__img{
                border-radius: 10px;
                width: 90%;
            }

            .recipe__title{
                font-family: var(--family-Serif);
                font-weight: 600;
                font-size: 2.2rem;
                margin: 0.5em 0;
            }

            .recipe__description{
                font-size: 0.850rem;
                margin: 0.5em 0;
            }




        .card__preparation{
            background-color: var(--Rose50);
            padding: 0.8em 0 0.8em 0.8em;
        }

            .preparation__title{
                color: var(--Rose800);
            }

            .preparation__list{
                
            }
                .nonme{
                    margin: 0.4em;
                }

                .nonme::marker{
                    color: var(--Rose800);
                }



        .card__ingredients{
        }
            .ingredients__title{
                color: var(--Brown800);
                font-size: 2rem;
            }
            
            .ingredients__list{
                margin: 1em 0 2em 0;
            }
                
                .list__values{
                    margin: 0.2em;
                }
        



        .card__instructions{

        }
            .instructions__title{
                color: var(--Brown800);
                font-size: 2rem;
            }
            .instructions__list{
            }
            .instruction__item{
                margin: 0.65em 0;
                
                }


        
        .card__information{}

            .information__title{
                color: var(--Brown800);
                font-size: 2rem;
            }
            
            .information__descriptions{}
            
            .information__list{
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
                .information__item{
                    margin: 0.2em 0;
                    padding: 0 1em;
                }
                .brown{
                    font-weight: 600;
                    color: var(--Brown800);
                }