body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    margin: 0; 
    box-sizing: border-box;
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-size: 14px;
    font-family: "Inter";
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    margin: auto;
    padding: 1.4em 0.5em;
    border-radius: 2%;
    width: 30%;
}

    .card__presentation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .card__image{
            width: 45%;
            height: 45%;
            border-radius: 50%;
            margin: 0.4em;
        }

    .card__city{
        color: hsl(75, 94%, 57%);
        font-size: 12px;
    }

    .card__socials{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

        .btn__socials{
            font-family: "Inter";
            background-color: hsl(0, 0%, 20%);
            color:  hsl(0, 0%, 100%);
            text-align: center;
            width: 100%;
            border: none;
            border-radius: 5px;
            padding: 1em;
            margin: 0.5em;
        }

        .btn__socials:hover{
            cursor: pointer;
            color: hsl(75, 94%, 57%);
        }

.attribution{
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translate(50%,0);
}

@media (max-width: 375px) {
    .socials-card {
      width: 70%;
    }
  }