@import url('./reset.css');

.deactive{
    display: none;
}
.active{
    display: block;
}
.row{
    display: flex;
    flex-direction: row;
}

.card{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    border-radius: 1em;
    margin: auto 0;
}
    .card__accordions{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .card__accordion{
            width: 90%;
            border-bottom: 1px solid var(--Lightpink);
        }
            .accordion__container{
                width: 100%;
                display: flex;
                flex-direction: row;
            }
                .accordion__button{
                    display: flex;
                    background: none;
                    border: none;     
                    cursor: pointer; 
                    margin: 2em;              
                    
                }
                    .accordion__div{
                        display: flex;
                    }
                        .accordion__title{
                            color: var(--Darkpurple);
                            font-size: 1.2rem;
                        }
                        .accordion__img{
                            margin-left: auto;
                        }
            .accordion__description{
                width: 90%;
                color: var(--Grayishpurple);
                font-size: 1rem;

            }