*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  :root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--VeryLightGray);
}
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }


.presentation{
    font-family: 'Poppins';
}
    .presentation__content{
        max-width: 100%;
    }

        .presentation__title{
            font-weight: 200;
            font-size: 1.4rem;
            color: var(--VeryDarkBlue);
            text-align: center;
            margin: 2em 0 0 0;
        }
        
        .presentation__description{
            font-size: 1rem;
            color: var(--GrayishBlue);
            text-align: center;
            margin:1.8em 0 5em 0;
        }

    .presentation__features{
        width: 90%;
        margin: 0 auto;
    }
        .features__item{
            margin: 1.8em auto;
            padding: 1.2em;
            border-radius: 7px;
            box-shadow: 1px 5px 10px var(--GrayishBlue);
        }
            .red{
                border-top: 4px solid var(--red);
            }
            .blue{
                border-top: 4px solid var(--blue);
            }
            .cyan{
                border-top: 4px solid var(--cyan);
            }
            .orange{
                border-top: 4px solid var(--orange);
            }

            .features__title{
                color: var(--VeryDarkBlue);
                padding: 0.385em 0;
            }
            .features__description{
                color: var(--GrayishBlue);
            }
            .features__image{
                margin: 1.2em 0 1.2em auto;
            }
@media(min-width:800px){
    .presentation__content{
        max-width:40%;
        margin: 0 auto;        
    }
        .presentation__title{
            font-size: 1.8rem;
        }

        .presentation__description{
            font-size: 0.9rem;
        }
 
        .presentation__features {
            max-width: 100%;
            display: grid;
            grid-template-areas: 
                ". red ."
                "cyan red orange"
                "cyan blue orange "
                ". blue .";
            gap: 2rem;
        }
        .features__item{
            margin: 0 auto;
        }
        .red {
            grid-area: red;
        }
        .cyan {
            grid-area: cyan;
        }
        .orange {
            grid-area: orange;
        }
        .blue {
            grid-area: blue;
        }
        

}
